main{
    padding: 1rem;
    margin-bottom: 1rem;
    grid-area: ma;
    font-size: 1rem;
}
main h2{
    font-size: 2rem;
    text-align: center;
    border: 1px solid #eaeaea;
    margin-bottom: 1rem;
}
main div#proximo div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #facf41;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
main div#proximo div img{
    width: 100%;
    height: 25rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

main div#pasado {
    display: flex;
    flex-direction: column;
}
main div#pasado div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eaeaea;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
main div#pasado div iframe{
    width: 100%;
    height: 25rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px){
    main{
        font-size: 1.8rem;
    }
    main h2{
        font-size: 2.4rem;
    }
    main div#proximo div img{
      height: 35rem;
    }
    main div#pasado div iframe{
        height: 35rem;
    }

}

@media (min-width: 1024px){
    main div#proximo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    main div#proximo div{
        font-size: 50%;
        width: 30%;
    }
    main div#proximo div img{
        width: 80%;
        height: 30rem;
    }
    main div#pasado{
        display: flex;
        flex-direction: row;
    }
    main div#pasado div{
        font-size: 1.1rem;
    }
    main div#pasado div iframe{
        width: 80%;
        height: 30rem;
    } 
    main div#pasado div#ev1{
        width: 80%;
    }
    main div#pasado div#ev2{
        width: 80%;
    }

}