

main{
    padding: 1rem;
    margin-bottom: 1rem;
    grid-area: ma;
    font-size: 1.2rem;
}

main div#presentacion img{
    width: 100%;
}

main div iframe{
    width: 100%;
    height: 20rem;
}
main div#presentacion div#carussel{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 15rem;
    background-size: 100% 100%;
    animation: carrusel 12s ease infinite;
}
main div p{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
main div p strong {
    text-decoration: underline;
}

@keyframes carrusel {
    0%, 25%{
        background-image: url("../img/historia1.jpg");
    }
    30%, 50%{
        background-image: url("../img/historia2.jpg");
    }
    55%, 75%{
        background-image: url("../img/historia3.jpg");
    }
    80%, 100%{
        background-image: url("../img/ellos2.jpg");
    }
}


@media (min-width: 768px){
    main{
        font-size: 1.4rem;
    }
    main div#presentacion div#carussel {
        height: 25rem;
    }
    main div iframe{
        height: 25rem;
    }
    
}

@media (min-width: 1024px){
    main{
        font-size: 1.5rem;
    }
    main div#presentacion div#carussel {
        height: 35rem;
    }
    main div iframe{
        height: 35rem;
    }

}
